<div class="container p-2 mb-5">
  <div class="row text-center m-4">
    <div class="col-12 text-center">
      <a href="/planes/add" class="m-4"> <button class="btn btn-warning">NUEVO PLAN</button></a>
      <a class="btn btn-warning btn-block" href="javascript:void(0)" onclick="history.back();">Volver</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{#if items}}
      <table class="mt-4 table table-dark table-striped">
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Accion</th>

        </tr>
        {{#each items}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.description}}  </td>
          
          <td>{{stripeprecio this.default_price.unit_amount}} {{this.default_price.currency}}</td>
          <td>
            <a href="/planes/edit/{{this.id}}" class="text-warning"><i
                class="fa-solid fa-pen"></i>Edit</a>
            <a href="/planes/delete/{{this.id}}" class="text-warning"><i
                class="fa-solid fa-trash"></i>Del</a>
          </td>
        </tr>

        {{/each}}
      </table>
      {{else}}
      <div class="col-md-4-mx-auto">
        <div class="card card-body text-center">
          <tr>No hay planes creados <a href="/planes/add"> Crea uno!</a></tr>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>