<div class="container p-2 mb-5">
  {{#when user.privilegio 'eq' "master"}}
  <div class="row text-center m-4">
    <div class="col-12 text-center">
      <a href="/clases/add"> <button class="btn btn-warning">NUEVA CLASE</button></a>
      <a href="/week/list"> <button class="btn btn-warning">GESTIONAR SEMANA</button></a>
    </div>
  </div>
  {{/when }}


  <div class="row text-center m-4">
    <div class="col-12 text-center">
      <h2>Calendario</h2>
      <div id="calendar" class="calendar">
        <div class="calendar-header">
          {{!-- Muestra el mes y el año actual --}}
          <button id="prevMonth" class="btn btn-light">&lt;</button>
          <span id="currentMonth">{{mes}} {{anio}}</span>
          <button id="nextMonth" class="btn btn-light">&gt;</button>
        </div>
        <div class="calendar-grid">
          {{!-- Días de la semana --}}
          <div class="calendar-day">Lunes</div>
          <div class="calendar-day">Martes</div>
          <div class="calendar-day">Miércoles</div>
          <div class="calendar-day">Jueves</div>
          <div class="calendar-day">Viernes</div>
          <div class="calendar-day">Sábado</div>
          <div class="calendar-day">Domingo</div>

          {{!-- Días del mes --}}
          {{#each dias}}
          <div class="calendar-cell" data-date="{{this.fullDate}}">
            {{this.day}}
          </div>
          {{/each}}
        </div>
      </div>


      <h3><span id="diaseleccionado"></span></h3>
      <div id="clases-semana">
        <div class="row text-center m-4">
          <div class="table-responsive">
            {{#each clases}}
            <div class="card mb-2 dia{{getDay fecha_hora}}">

              <div class="card-body">
                {{>avatar size="m" url=pictureURL_instructor}}
                <a href="/clases/ver/{{clase_id}}" class="d-block bg-secondary">

                  <h5 class="card-title">{{clase_id}} {{nombre_actividad}}</h5>
                  <p class="card-text">{{formatearSp fecha_hora}} a las {{formatearHoras fecha_hora}}</p>
                  <p> {{duracion}}min</p>
                  <a href="/clases/edit/{{clase_id}}" class="text-warning"><i class="fa-solid fa-pen"></i>Edit</a>
                  <a href="/clases/delete/{{clase_id}}" class="text-warning"><i class="fa-solid fa-trash"></i>Del</a>
                  <div class="d-flex justify-content-around ">
                </a>

                {{#each this.asistentes}}
                {{>avatar size="xs" url=this.pictureURL_usuario asistencia=this.asistencia}}
                {{/each}}
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
</div>