<div class="container p-1 mb-5">

      
           <a class="btn btn-warning btn-block" href="/membresia/subscriptions">Subcripciones</a>
   
    <div class="row text-center">
        <div class="col-12">
            <h1>Selecciona Membresía</h1>
            {{user.id}} {{user.nombre}} {{user.apellidos}}

            <div class="card mx-auto my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">BJJ femeninos</h5>
                    <p class="card-text">Acceso a todas las clases de BJJ para mujeres. 40.50€</p>
                    <form method="POST" name="subscriptionform" action="/membresia/create-checkout-session">
                        <input type="hidden" name="plan" value="bjjfemenino">
                        <input type="hidden" name="usuario" value="{{user.id}}">
                        <button class="btn btn-primary">BUY NOW</button>
                    </form>
                </div>
            </div>
            <div class="card mx-auto my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Niños 3-5 años</h5>
                    <p class="card-text">Pago automatico mensual. 42.50€</p>
                    <form method="POST" name="subscriptionform" action="/membresia/create-checkout-session">
                        <input type="hidden" name="plan" value="kids35">
                        <input type="hidden" name="usuario" value="{{user.id}}">
                        <button class="btn btn-primary">BUY NOW</button>
                    </form>
                </div>
            </div>
            <div class="card mx-auto my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Niños 6-9 años</h5>
                    <p class="card-text">Pago automatico mensual. 48.40€</p>
                    <form method="POST" name="subscriptionform" action="/membresia/create-checkout-session">
                        <input type="hidden" name="plan" value="kids69">
                        <input type="hidden" name="usuario" value="{{user.id}}">
                        <button class="btn btn-primary">BUY NOW</button>
                    </form>
                </div>
            </div>
            <div class="card mx-auto my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Niños 9-13 años</h5>
                    <p class="card-text">Pago automatico mensual. 54.50€</p>
                    <form method="POST" name="subscriptionform" action="/membresia/create-checkout-session">
                        <input type="hidden" name="plan" value="kigs913">
                        <input type="hidden" name="usuario" value="{{user.id}}">
                        <button class="btn btn-primary">BUY NOW</button>
                    </form>
                </div>
            </div>
            <div class="card mx-auto my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">MMA</h5>
                    <p class="card-text">Acceso a las clases de MMA. 55€</p>
                    <form method="POST" name="subscriptionform" action="/membresia/create-checkout-session">
                        <input type="hidden" name="plan" value="mma">
                        <input type="hidden" name="usuario" value="{{user.id}}">
                        <button class="btn btn-primary">BUY NOW</button>
                    </form>
                </div>
            </div>
            <div class="card mx-auto my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">NOGI</h5>
                    <p class="card-text">Acceso a las clases de NOGI. 60€</p>
                    <form method="POST" name="subscriptionform" action="/membresia/create-checkout-session">
                        <input type="hidden" name="plan" value="nogi">
                        <input type="hidden" name="usuario" value="{{user.id}}">
                        <button class="btn btn-primary">BUY NOW</button>
                    </form>
                </div>
            </div>
            <div class="card mx-auto my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">BJJ ADULTOS</h5>
                    <p class="card-text">Acceso a las clases de BJJ y de NOGI. 72.60€</p>
                    <form method="POST" name="subscriptionform" action="/membresia/create-checkout-session">
                        <input type="hidden" name="plan" value="bjjadultos">
                        <input type="hidden" name="usuario" value="{{user.id}}">
                        <button class="btn btn-primary">BUY NOW</button>
                    </form>
                </div>
            </div>
            <div class="card mx-auto my-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">ILIMITADO</h5>
                    <p class="card-text">Todas las modalidades con clases ilimitadas. 85€</p>
                    <form method="POST" name="subscriptionform" action="/membresia/create-checkout-session">
                        <input type="hidden" name="plan" value="ilimitado">
                        <input type="hidden" name="usuario" value="{{user.id}}">
                        <button class="btn btn-primary">BUY NOW</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form action="/membresia/create-portal-session" method="POST">
        <button class="btn btn-warning" id="checkout-and-portal-button" type="submit">Manage your billing information</button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        let searchParams = new URLSearchParams(window.location.search);
        if (searchParams.has('session_id')) {
            const session_id = searchParams.get('session_id');
            document.getElementById('session-id').setAttribute('value', session_id);
        }
    });
</script>