<div class="container-fluid p-1 mb-5">

    <p>Balance {{balance.available.0.amount}}</p>
    <h1>Subcripciones activas </h1>
    <div class="my-2">
        <input class="form-control" id="myInput" type="text" placeholder="Filtrar por.." autofocus>
    </div>
    <div class="table-responsive py-4">
        <table id="listado" class="listado mx-auto w-100 table table-hover table-dark" data-search="true">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Plan</th>
                <th class="d-none d-xl-table-cell">Descripcion</th>
                <th>Precio</th>
                <th>Subscrito desde</th>
                <th class="d-none d-xl-table-cell">Ultimo pago</th>
                <th class="d-none d-sm-table-cell">Proximo pago</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
         
{{!--             PLan: {{this.plan.id}} {{this.plan.product}} Activo: --}}
            {{#each subscriptions}}
            <tr>
                <td>{{counter @index}}</td>
                <td>{{this.customer.name}}</td>
                <td>{{this.customer.email}} </td>
                <td id="{{this.id}}"> {{this.planName}}</td>
                <td  class="d-none d-xl-table-cell"> {{this.planDescription}}</td>
                <td>{{stripeprecio this.plan.amount}}</td>
                <td> {{unix2es this.created }}</td>
                <td  class="d-none d-xl-table-cell"> {{unix2es this.current_period_start }} </td>
                <td  class="d-none d-sm-table-cell"> {{unix2es this.current_period_end }}</td>
                <td id="{{this.default_payment_method}} ">{{this.plan.active}} </td>
           {{!--      <td>{{this.plan.id}} {{this.plan.product}}</td> --}}
            </tr>
            {{/each}}
        </table>
    </div>
</div>