<div class="container p-4">
  <div class="row4">
    <div class="col-md-5 mx-auto">
      <div class="card text-center">
        <div class="card-body">

          <h3>Bienvenid@ {{item.usuario}} </h3>

          {{>avatar size="l" url=item.pictureURL}}
          <input type="hidden" name="id" value="{{item.id}}" />

          <form action="/usuarios/edit/{{item.id}}" method="POST">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" value="{{item.nombre}}" name="nombre" class="form-control" />
            </div>
            <div class="form-group">
              <label for="apellidos">Apellidos</label>
              <input type="text" value="{{item.apellidos}}" name="apellidos" class="form-control" />
            </div>
            <div class="form-group">
              <label for="usuario">Usuario</label>
              <input type="text" value="{{item.usuario}}" name="usuario" class="form-control" />
            </div>
            <div class="form-group">
              <label for="email">eMail</label>
              <input type="text" value="{{item.email}}" name="email" class="form-control" />
            </div>
            <div class="form-group">
              <label for="telefono">Telefono</label>
              <input type="text" value="{{item.telefono}}" name="telefono" class="form-control" />
            </div>
            <div class="form-group">
              <label for="cinturon">Cinturon</label>
              <select id="cinturon" name="cinturon" class="mt-3">
                <option value="blanco">Blanco</option>
                <option value="gris-blanco">Blanco y Gris</option>
                <option value="gris">Gris</option>
                <option value="gris-negro">Gris y Negro</option>
                <option value="amarillo-blanco">Amarillo y Blanco</option>
                <option value="amarillo">Amarillo</option>
                <option value="amarillo-negro">Amarillo y Negro</option>
                <option value="naranja-blanco">Naranja y Blanco</option>
                <option value="naranja">Naranja</option>
                <option value="naranja-negro">Naranja y Negro</option>
                <option value="verde-blanco">Verde y Blanco</option>
                <option value="verde">Verde</option>
                <option value="verde-negro">Verde y Negro</option>
                <option value="azul">Azul</option>
                <option value="morado">Morado</option>
                <option value="marron">Marrón</option>
                <option value="negro">Negro</option>
              </select>

              <label for="grado">Grados</label>
              <select id="numeros" name="grado">
                <option value="I">I</option>
                <option value="II">I I</option>
                <option value="III">I I I</option>
                <option value="IIII">I I I I</option>
              </select>
            </div>

            <div class="form-group">
              <label for="peso">Peso</label>
              <input type="number" value="{{item.peso}}" name="peso" class="form-control" />
            </div>

            <div class="form-group">
              <label for="fecha_nacimiento">Fecha nacimiento {{formatearEn item.fecha_nacimiento}}</label>
              <input type="date" value="{{formatearEn item.fecha_nacimiento}}" name="fecha_nacimiento"
                class="form-control" required/>
            </div>

            <div class="form-group">
              <label for="nacionalidad">Selecciona tu país:</label>
              <select id="pais" name="nacionalidad">
                <option value="">--Seleccionar--</option>
                {{#each paises}}
                <option value="{{this.id}}">{{this.nombre}}</option>
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label for="nif">NIF</label>
              <input type="text" value="{{item.nif}}" name="nif" class="form-control" />
            </div>
        </div>
        <button class="btn btn-primary m-4"> Guardar cambios </button>
        </form>
        <div class="form-group">
          <a href="/usuarios/get/{{item.id}}" class="btn btn-danger m-4"> Cancelar </a>
        </div>
      </div>
    </div>
  </div>
</div>