<div class="container p-4 mb-5">
    <div class="row">
        <div class="col-12 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenid@ <strong> {{usuario.usuario}} </strong> !!</h3>
                    {{>avatar size="xl" url=user.pictureURL}}
                    <form action="/profile/upload/{{usuario.id}}" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{usuario.id}}" />
                        <div class="custom-file">
                            <input type="file" name="imagen" class="custom-file-input" id="inputGroupFile02">
                            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                            <button type="submit" class=" custom-file-label">Upload</button>
                        </div>
                    </form>
                    <h4> {{usuario.usuario}} <span class="fi fi-{{minusculas usuario.codigo_iso}}"></span> </h4>
                    <p>{{usuario.nombre}} {{usuario.apellidos}}</p>
                    <div class="asistente d-inline-flex p-2" data-color="{{usuario.cinturon}}"
                        data-grados="{{usuario.grado}}" data-id="{{usuario.id}}">
                        <div class="cinturon-grande">
                            <div id="belt-container{{usuario.id}}" class="belt-container"></div>
                        </div>
                    </div>
                    <p>telefono:+{{usuario.pais_telefono}} {{usuario.telefono}} </p>


                    <p>Nacimiento {{formatearSp usuario.fecha_nacimiento}} Peso: {{usuario.peso}}Kg</p>
                    <p>Correo: {{usuario.email}} </p>

                    <p>NIF: {{usuario.nif}} </p>
                    <p>Id: {{usuario.id}} </p>
                    <p>Privilegio: {{usuario.privilegio}} </p>
                    <a href="/usuarios/edit" class="btn btn-warning m-4"> Editar el Perfil </a>

                    <a href="/" class="btn btn-primary m-4"> Volver a Inicio</a>
                </div>
            </div>
            <div class="card text-center mb-5">
                <h2>Asistencias</h2>
               <p> <span>mes: {{clasesMes asistencias}} </span>  <span>Año: {{clasesAno asistencias}}</span> <span>Totales: {{clasesTotales asistencias}}</span></p> 
                <div class="card-body my-0 py-0">

                    {{#each asistencias}}
                    <div class="d-flex">
                        <div >
                            <h5 class="card-title">{{this.nombre_actividad}}</h5>
                            <p class="card-text">{{formatearHoras this.fecha_hora}}</p>
                        </div>
                        <div>
                            <a href="/clases/ver/{{this.clase_id}}" class="btn btn-sm btn-primary">Más info</a>
                        </div>
                    </div>
                    <hr>
                    {{/each}}
                </div>

            </div>
        </div>
    </div>
</div>
</div>