<div class="container p-2">
   <div class="row m-2 text-center">
      <div class="col-12">
         <div class="card">

         <h2>usuario</h2>
         {{>avatar size="xs" url=usuario.pictureUrl }}
         <p>{{usuario.id}}</p>
         <p>{{usuario.nombre}}</p>
         <p>{{usuario.apellido}}</p>
         <p>Cinturon: {{usuario.cinturon}}-{{usuario.grado}}</p>
      </div>
         </div>

   </div>
   <div class="row m-2 text-center">
      <div class="col-12">
         <a class="btn btn-warning btn-block" href="javascript:void(0)" onclick="history.back();">Volver</a>
      </div>
   </div>
</div>
</div>