<div class="container p-4">
    <div class="row4">
        <div class="col-12 mx-auto">
            <div class="card text-center">
                <div class="card-body">

                    <h3>Bienvenid@ <strong> {{usuario.usuario}} </strong> !!</h3>
                    {{!-- {{>avatar size="m" url=user.pictureURL}} --}}
                    <a href="/img/profiles/{{usuario.pictureURL}}">
                        <img src="/img/profiles/{{usuario.pictureURL}}" class="rounded avatar-l m-2"
                            alt="avatar {{usuario.pictureURL}}'" /></a>

                    <form action="/profile/upload/{{usuario.id}}" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{usuario.id}}" />
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" name="imagen" class="custom-file-input" id="inputGroupFile02">
                                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text">Upload</button>
                            </div>
                        </div>
                    </form>

                    <h4> {{usuario.usuario}} <span> </span> <span class="fi fi-es">{{usuario.nacionalidad}}</span> </h4>
                    <p>{{usuario.nombre}} {{usuario.apellidos}}</p>
                    <p>telefono:+{{usuario.pais_telefono}} {{usuario.telefono}} </p>
                    <p>Cinturon: <span id="cinturon">{{usuario.cinturon}}</span> <span
                            id="grados">{{usuario.grado}}</span> </p>
                    <div id="belt-container"> </div>
                    <p>Nacimiento {{formatearSp usuario.fecha_nacimiento}} Peso: {{usuario.peso}}Kg</p>
                    <p>Correo: {{usuario.email}} </p>

                    <p>NIF: {{usuario.nif}} </p>
                    <p>Id: {{usuario.id}} </p>
                    <p>Privilegio: {{usuario.privilegio}} </p>
                    <a href="/usuarios/edit" class="btn btn-warning m-4"> Editar el Perfil </a>
              
                    <a href="/" class="btn btn-primary m-4"> Volver a Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var colores = document.getElementById("cinturon").innerHTML.split("-");
    var color = colores[0];
    var aux = colores[1];
    var grados = document.getElementById("grados").innerHTML;
    console.log(grados);
    grados = grados.split('I').length - 1;

    function crearCinturon(color, grados, coloraux) {
        console.log("Dibujando cinturon: " + color + " " + grados + " " + coloraux);

        const beltContainer = document.getElementById('belt-container');

        // Crear el div del cinturón
        const belt = document.createElement('div');
        belt.classList.add('belt', color); // Añadir la clase del color al cinturón
        if (coloraux) {
            const alongband = document.createElement('div');
            if (coloraux == 'blanco') {
                alongband.classList.add('along-band-blanco');
            } else {
                alongband.classList.add('along-band-negro');
            }
            belt.appendChild(alongband);

        }

        // Añadir las rayas de grados al cinturón
        for (let i = 0; i < grados; i++) {
            const stripe = document.createElement('div');
            stripe.classList.add('stripe');
            belt.appendChild(stripe);
        }

        //Añadir la banda final
        const finalband = document.createElement('div');
        finalband.classList.add('final-band');
        belt.appendChild(finalband);

        // Si el cinturón es negro, aplicar la banda roja
        if (color === 'negro') {
            finalband.classList.add('final-band-red');
        }
        // Añadir el cinturón al contenedor
        beltContainer.appendChild(belt);
    }
    crearCinturon(color, grados,aux);

</script>