<div class="container p-2">
    <h1>Cambios en la clase {{item.clase_id}} - {{item.nombre_actividad}} </h1>
    <div class="row">

        <div class="col-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2> {{item.nombre_actividad}} </h2>
                    <p>{{item.descripcion_actividad}}</p>

                    <div class="form-group">Fecha: {{formatearSp item.fecha_hora}} a las {{formatearHoras
                        item.fecha_hora}} creado por {{item.nombre_creador }}</div>
                    <div class="form-group">Duracion:{{item.duracion}} min </div>
                    <div class="form-group"> Instructor: {{item.nombre_instructor }}</div>




                    <div class="card-footer">
                        <h4>Asistentes</h4>
                        <div class="d-flex flex-column justify-content-around border">
                            {{#each asistentes}}
                            <a href="/usuarios/get/{{this.usuario_id}}">
                                {{#if this.pictureURL_usuario}}
                                <img src="/img/profiles/{{this.pictureURL_usuario}}" class="avatar avatar-xs m-2"
                                    alt="avatar {{this.pictureURL_usuario}}'" />
                                {{else}}
                                <img src="/img/profiles/default.jpg" class="avatar avatar-xs m-2"
                                    alt="default avatar" />
                                {{/if}}
                                <span>{{this.nombre_usuario}} {{this.apellidos_usuario}}</span>
                                <span class="fi fi-{{minusculas this.codigo_iso}}"></span> {{this.cinturon}}
                                {{this.grado}}
                                {{>cinturon cinturon=this.cinturon grado=this.grado id=this.usuario_id}}
                                <div class="itsbelt" id="belt-container{{this.usuario_id}}"> </div>
                            </a>
                            {{/each}}

                        </div>
                        <form action="/asistencias/add/{{item.clase_id}}" method="post">
                            <a onclick="this.parentNode.submit();" class="text-warning"><i
                                    class="fa-solid fa-user-plus"></i>Join </a>
                        </form>
                        <a class="btn btn-warning btn-block" href="javascript:void(0)"
                            onclick="history.back();">Volver</a>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>